/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #e8f0fe;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.input-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.btn {
  width: 100%;
  padding: 14px;
  background: #833ab4;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #6d1da0;
}

#gameCanvas {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  background: #ccefff;
  border-radius: 12px;
  border: 2px solid #333;
}

footer {
  margin-top: auto;
  padding: 15px;
  text-align: center;
  background: #333;
  color: white;
}

@media (min-width: 600px) {
  .btn {
    width: 50%;
    margin: 15px auto;
    display: block;
  }
}
